<p>
  <strong>Genre:</strong>
  <%= @listing.genre %>
</p>
 
<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Location:</strong>
  <%= @listing.location %>
</p>

<p>
  <strong>Date:</strong>
  <%= @listing.date %>
</p>

<p>
  <strong>Info:</strong>
  <%= @listing.info %>
</p>
<%= link_to 'Back', listings_path %>